env/
# General
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
__pycache__/

# Django specific
*.log
*.pot
*.pyc
*.pyo
local_settings.py

# Project specific
db.sqlite3

# Node
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log